* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    padding-left: 50px;
    margin: 0;
}

.logo p{
    color: rgb(18, 156, 110);
    font-size: 32px;
    margin: 0;
    font-family: 'Lora', serif;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.main-menu {
    background-color: #333333;
}

.main-menu-item{
    list-style: none;
}

.main-menu-item a{
    text-decoration: none;
    color: rgba(35, 31, 31, 0.502);
    text-transform: capitalize;
}

.main-menu-item-active a{
    color: rgb(4, 20, 34);
}

.btn {
    color: rgba(35, 31, 31, 0.502);
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100px;
    height: 40px;
}

.banner-description{
    border: 1px solid red;
}
.btn-info{
    background: rgba(18, 156, 110, 0.8);
    color: #fff;
}

.btn-danger{
    background: rgba(156, 34, 18, 0.8);
    color: #fff;
}

.btn-warning{
    background: rgba(156, 96, 18, 0.8);
    color: #fff;
}

.banner-description-title{
    font-weight: bold;
    font-size: 40px;
}
.banner-description-break{
    width: 100%;
    border: 1px solid rgba(18, 156, 110, 0.8);
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
}
.banner-description-content{
    font-weight: 700;
}

.btn-round{
    border-radius: 50px;
}

.text-grey{
    color: #aaa;
}

.form-control-input{
    border: none;
    border-bottom: 1px solid #aaa;
}
.btn-sm{
    padding: 5px;
    width: 80px;
    height: 25px;
    font-size: 14px;
}